{
  "openapi": "3.0.0",
  "info": {
    "title": "Socket.Kill Public API",
    "version": "1.5.0",
    "description": "Image Proxy server originally developed to provide the main socketkill.com site with high performance local image caching then extended to be made public \n\nFree to use for personal and third-party projects. If you integrate this API into your tool or application, a credit link back to socketkill.com is appreciated.\n\nWebSocket Access: the information provided to the front end can be accessed publicly via a websocket for those who would like to use it, currently whitelist based purely for the fact I like having money in my bank account."
  },
  "servers": [
    {
      "url": "https://api.socketkill.com"
    }
  ],
  "paths": {
    "/render/ship/{typeId}": {
      "get": {
        "summary": "Get Ship Render",
        "description": "Returns a 64x64 PNG render of the specified ship type.",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 603
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "image/png": {}
            }
          },
          "404": {
            "description": "Render not found"
          }
        }
      }
    },
    "/random": {
      "get": {
        "summary": "Get Eve Photography Image",
        "description": "Returns a photography image produced by @RixxJavix",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "image/png": {},
              "image/jpeg": {}
            }
          },
          "404": {
            "description": "Image not found"
          }
        }
      }
    },
        "/render/corp/{corpId}": {
      "get": {
        "summary": "Get Corp Logo",
        "description": "Returns a 64x64 PNG logo for the specified corporation.",
        "parameters": [
          {
            "name": "corpId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 98388312
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "image/png": {}
            }
          },
          "404": {
            "description": "Logo not found"
          }
        }
      }
    },
    "/render/market/{typeId}": {
      "get": {
        "summary": "Get Market Icon",
        "description": "Returns a 64x64 PNG icon for inventory items (modules, ores, etc.).",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 34
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "image/png": {}
            }
          },
          "404": {
            "description": "Icon unavailable"
          }
        }
      }
    }
  }
}